---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ingress-traefik
  namespace: {{ ingress_traefik_namespace }}
  labels:
    app.kubernetes.io/name: ingress-traefik
    app.kubernetes.io/part-of: ingress-traefik
